<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{MyName}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
  <ion-row *ngFor="let item of MyCities">
    <ion-col>{{item.name}}</ion-col>
    <ion-col>{{item.population}}</ion-col>
  </ion-row>
</ion-grid>
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let element of MyList">
        <ion-label>{{element}}</ion-label>
      </ion-item>
    </ion-list>
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>



  <ion-button shape="round" (click)="btn_click()">
    кнопка
  </ion-button>

</ion-content>

